/*
 * index.css (https://github.com/aremmell/g8x-colors) v0.0.2
 */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    max-width: 75%;
    margin: 1em auto 0 auto;
    font-size: 2em;
    font-weight: bold;
}

.intro {
    text-align: center;
    font-size: 1em;
    max-width: 75%;
    margin: auto;
}

.card {
    min-width: 360px;
    max-width: 369px;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picker-container {
    text-align: center;
}

.picker-container h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.results {
    width: 369px;
    text-align: center;
    font-size: 1em;
    padding-bottom: 1.5em;
}

#resultsTable {
    min-width: 220px;
    padding: 0 1em 1em 1em;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#resultsTable th {
    font-weight: bold;
}

#resultsTable tr.separator {
    border-spacing: 0 0.5em;
}

#resultsTable td.color {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

#resultsTable tr.separator td:not(.color) {
    border-bottom: 1px solid #CCC;
}

#resultsTable tr.separator td.color {
    border-bottom: 1px solid white;
}

.results .steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    font-size: 0.75em;
    font-family: monospace;
    margin-top: 2em;
}

.button-container {
    margin: 2em auto 0 auto;
}

.button-container > button {
    padding: 0.5em 1em 0.5em 1em;
    background: #5d6fe8;
    border: 1px solid #253cdd;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em auto 0 auto;
    padding: 0.5em 0.5em 1em 0.5em;
    font-size: 0.5em;
    text-align: center;
}
